.main
	min-height: 100vh
	background-repeat: no-repeat
	background-size: cover
	background-position: center top
	&__block
		min-height: 100vh
		height: 100%
		+column
		justify-content: flex-end
		padding: 7.5rem 0 4rem 0
	&__title
		line-height: 1.2
	&__group
		margin-top: 3rem
	&__text
		opacity: 1
	&__time
		margin-top: .5rem
		+center-stroke
		gap: .5rem
	&__icon
		width: 1.5rem
	&__btn
		margin-top: 3rem
	&__items
		display: none
