.main
	min-height: 100vh
	background-repeat: no-repeat
	background-size: cover
	background-position: center top
	&__block
		min-height: 100vh
		height: 100%
		+column
		justify-content: flex-end
		padding: 7.5rem 0 4rem 0
	&__title
		line-height: 1.2
	&__group
		margin-top: 3rem
	&__text
		opacity: 1
	&__time
		margin-top: .5rem
		+center-stroke
		gap: .5rem
	&__icon
		width: 1.5rem
	&__btn
		margin-top: 3rem
	&__items
		display: none

@media screen and ( max-width: 1024px )
	.main
		position: relative
		&::before
			content: ''
			background: linear-gradient(180deg, #000306 33.33%, rgba(0, 46, 60, 0) 100%)
			position: absolute
			bottom: 0
			width: 100%
			height: 25.5rem
			transform: rotate(180deg)
			z-index: 1
		&__block
			position: relative
			z-index: 2
